{
    "reddit": {
        "username": "",
        "password": "",
        "client_id": "",
        "client_pw": "",
        "user_agent": "<platform>:<app ID>:<version string> (by /u/<reddit username>)",
        "subreddits": ["", ""]
    },
    "ssd": {
        "username": "",
        "password": "",
        "url": ""
    }
}