{
    "reddit": {
        "username": "",
        "password": "",
        "client_id": "",
        "client_secret": "",
        "user_agent": "<platform>:<app ID>:<version string> (by /u/<reddit username>)",
        "bot_name": "NAME_OF_BOT_HERE"
        "subreddits": ["", ""]
    }
}